<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta http-equiv="refresh" content="10">
  <title>TACC Capacity</title>

  <link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <div class="container py-3">
    <main>
      <div class="row row-cols-1 row-cols-md-4 mb-1 text-center">
        {{ html_col|safe }}
        <!-- <div class="col">
          <div class="card mb-3 rounded-3 shadow-sm  border-danger">
            <div class="card-header py-4 text-white bg-danger border-danger">
              <h1 class="display-1">10</h1>
              <h4>AN</h4>
            </div>
          </div>
        </div> -->
    </main>
  </div>
</body>

</html>